# Data files (exclude large raw datasets only)
data/candidates.jsonl
data/test_candidates.jsonl
data/test_submission.csv
data/top100_candidates_profiles.jsonl
data/sample_submission.csv

# Local Python cache & system files
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.idea/
.vscode/
.DS_Store
.agents/
